<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/6edffaec60.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>환자 정보 -헬스케어</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <span class="logo_name">HealthCare</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="../">
                    <i class="fa-solid fa-house"></i>
                    <span class="link-name">홈</span>
                </a></li>
                <li><a href="/patient">
                    <i class="fa-solid fa-table-list"></i>
                    <span class="link-name">환자 목록</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-chart-pie"></i>
                    <span class="link-name">통계</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-share"></i>
                    <span class="link-name">공유</span>
                </a></li>
            </ul>
            
            {% if user and user.id %}
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span class="link-name">로그아웃</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="fa-solid fa-moon"></i>
                    <span class="link-name">다크 모드</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>

            {% else %}
            <ul class="logout-mode">
                <li><a href="/login">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span class="link-name">로그인</span>
                </a></li>
                <li class="mode">
                    <a href="#">
                        <i class="fa-solid fa-moon"></i>
                    <span class="link-name">다크 모드</span>
                </a>
                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </ul>
            {% endif %}
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i class="fa-solid fa-list-ul sidebar-toggle"></i>
            {% if user and user.id %}
            <div class="profile-box">
                <i class="fa-solid fa-user-doctor"></i>
                <span class="profile-name">안녕하세요 {{ user.name }} 선생님!</span>
            </div>
            {% else %}
            <div class="profile-box">
                <i class="fa-solid fa-circle-user"></i>
                <span class="profile-name"> 로그인 하시겠어요? </span>
            </div>
            {% endif %}
        </div>
            <!--<img src="images/profile.jpg" alt="">-->
        </div>
        <div class="dash-content">
            <div class="overview">
            <div class="activity">
                <div class="chart-container">
                    <div class = "first-chart">
                        <canvas id="firstChart"></canvas>
                    </div>
                    <div class = "second-chart">
                        <canvas id="secondChart"></canvas>
                    </div>
                    <div class = "third-chart">
                        <canvas id="thirdChart"></canvas>
                    </div>
                    <div class = "fourth-chart">
                        <canvas id="fourthChart"></canvas>
                    </div>
                </div>  
        </div>
    </section>
        <script src="script.js"></script>
        <script>
            const obj1 = JSON.parse(`{{ FirstchartData | dump | safe }}`);
            const obj2 = JSON.parse(`{{ SecondchartData | dump | safe }}`);
            const obj3 = JSON.parse(`{{ ThirdchartData | dump | safe }}`);
            const obj4 = JSON.parse(`{{ FourthchartData | dump | safe }}`);
            
            let ctx1 = document.getElementById('firstChart').getContext('2d');
            let myChart1 = new Chart(ctx1, {
                type: 'doughnut',
                data: obj1,
                options: {
                    responsive: true,
                    plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: '환자 건강 현황'
                    }
                    }
                },
            })
            
            let ctx2 = document.getElementById('secondChart').getContext('2d');
            let myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: obj2,
                options: {
                    responsive: true,
                    plugins: {
                    legend: {
                        position: 'none'
                    },
                    title: {
                        display: true,
                        text: '호실별 환자 수'
                    }
                    }
                },
            })

            let ctx3 = document.getElementById('thirdChart').getContext('2d');
            let myChart3 = new Chart(ctx3, {
                type: 'bar',
                data: obj3,
                options: {
                    responsive: true,
                    plugins: {
                    legend: {
                        position: 'none'
                    },
                    title: {
                        display: true,
                        text: '나이별 분포'
                    }
                    }
                },
            })
            
            let ctx4 = document.getElementById('fourthChart').getContext('2d');
            let myChart4 = new Chart(ctx4, {
                type: 'pie',
                data: obj4,
                options: {
                    responsive: true,
                    maintainAspectRatio: false, // 비율 유지 옵션
                    plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: '성별 분포'
                    }
                    }
                }
            });
        </script>
    </body>
    </html>