<head>
    <link rel="stylesheet" href="/login.css">
</head>
<div class="login-box">
    <h2>Admin Login</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>E-Mail</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div>
      <div class="submit">
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
    </div>
    <div>
      <p class="message">Not registered? <a class = "message" href="./register">Create an account</a></p>
    </div>
    </form>
</div>