<head>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active" > 로그인 </h2>
    <h2 class="inactive underlineHover" > 회원가입 </h2>

    <!-- Icon -->
    <div class="Icon">
      <i class="uil uil-stethoscope-alt"></i>
    </div>

    <!-- Login Form -->
    <form action="/auth/login" method="post">
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="E-mail">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Password -->
    <div id="formFooter">
      <a class="underlineHover" href="register">계정이 없으세요?</a>
    </div>

  </div>
</div>