<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style.css">
    <style>
        .safe { color: green; }
        .caution { color: orange; }
        .danger { color: red; }
      </style>
    <script src="https://kit.fontawesome.com/6edffaec60.js" crossorigin="anonymous"></script>

    <title>환자 리스트 -헬스케어</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <span class="logo_name">HealthCare</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="../">
                    <i class="fa-solid fa-house"></i>
                    <span class="link-name">홈</span>
                </a></li>
                <li><a>
                    <i class="fa-solid fa-table-list"></i>
                    <span class="link-name">환자 목록</span>
                </a></li>
                <li><a href="/chart">
                    <i class="fa-solid fa-chart-pie"></i>
                    <span class="link-name">통계</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-share"></i>
                    <span class="link-name">공유</span>
                </a></li>
            </ul>
            {% if user and user.id %}
            <ul class="logout-mode">
                <li>
                    <a href="/auth/logout">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <span class="link-name">로그아웃</span>
                    </a>
                </li>
                <li class="mode">
                    <a href="#">
                        <i class="fa-solid fa-moon"></i>
                        <span class="link-name">다크 모드</span>
                    </a>
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
            {% else %}
            <ul class="logout-mode">
                <li><a href="/login">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span class="link-name">로그인</span>
                </a></li>
                <li class="mode">
                    <a href="#">
                        <i class="fa-solid fa-moon"></i>
                    <span class="link-name">다크 모드</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </ul>
            {% endif %}
        </div>
    </nav>
    <section class="dashboard">
        {% if user and user.id %}
        <div class="top">
            <i class="fa-solid fa-list-ul sidebar-toggle"></i>
            <div class="profile-box">
                <i class="fa-solid fa-user-doctor"></i>
                <span class="profile-name">안녕하세요 {{user.name}} 선생님!</span>
            </div>
        </div>
        {% else %}
        <div class="top">
            <i class="fa-solid fa-list-ul sidebar-toggle"></i>
                <div class="profile-box">
                    <i class="fa-solid fa-circle-user"></i>
                    <span class="profile-name"> 로그인 하시겠어요? </span>
                </div>
        </div>
        {% endif %}
        <div class="dash-content">
            <div class="overview">
            <div class="activity">
                <div class="title">
                    <i class="fa-solid fa-hospital-user"></i>
                    <span class="text">환자 리스트</span>
                </div>
                <table class="patient-list">
                    <thead>
                        <tr>
                            <th class="category">ID</th>
                            <th class="category">이름</th>
                            <th class="category">성별</th>
                            <th class="category">나이</th>
                            <th class="category">호실</th>
                            <th class="category">이메일</th>
                            <th class="category">상태</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients %}
                        <tr>
                            <td><a href="/patient/{{ patient.id }}">{{ patient.id }}</a></td>
                            <td><a href="/patient/{{ patient.id }}">{{ patient.name }}</a></td>
                            <td><a href="/patient/{{ patient.id }}">{{ patient.gender }}</a></td>
                            <td><a href="/patient/{{ patient.id }}">{{ patient.age }}</a></td>
                            <td><a href="/patient/{{ patient.id }}">{{ patient.room_number }}</a></td>
                            <td><a href="/patient/{{ patient.id }}">{{ patient.email }}</a></td>
                            <td><a href="/patient/{{ patient.id }}"
                                class="{% if patient.status == '안전' %}safe
                                       {% elif patient.status == '주의' %}caution
                                       {% else %}danger
                                       {% endif %}">
                                       {{ patient.status }}
                                    </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>  
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>