<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/6edffaec60.js" crossorigin="anonymous"></script>


    <title>환자 정보 -헬스케어</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <span class="logo_name">HealthCare</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="../">
                    <i class="fa-solid fa-house"></i>
                    <span class="link-name">홈</span>
                </a></li>
                <li><a>
                    <i class="fa-solid fa-table-list"></i>
                    <span class="link-name">환자 목록</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-chart-pie"></i>
                    <span class="link-name">통계</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-share"></i>
                    <span class="link-name">공유</span>
                </a></li>
            </ul>
            
            {% if admin and admin.id %}
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span class="link-name">로그아웃</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="fa-solid fa-moon"></i>
                    <span class="link-name">다크 모드</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>

            {% else %}
            <ul class="logout-mode">
                <li><a href="/login">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span class="link-name">로그인</span>
                </a></li>
                <li class="mode">
                    <a href="#">
                        <i class="fa-solid fa-moon"></i>
                    <span class="link-name">다크 모드</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </ul>
            {% endif %}
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i class="fa-solid fa-list-ul sidebar-toggle"></i>
            {% if admin and admin.id %}
            <div class="profile-box">
                <i class="fa-solid fa-user-doctor"></i>
                <span class="profile-name">안녕하세요 마승욱 선생님!</span>
            </div>
            {% else %}
            <div class="profile-box">
                <i class="fa-solid fa-circle-user"></i>
                <span class="profile-name"> 로그인 하시겠어요?</span>
            </div>
            {% endif %}
        </div>
            
            <!--<img src="images/profile.jpg" alt="">-->
        </div>
        
        <div class="dash-content">
            <div class="overview">
                <div class="profile">
                        <table class="profile-table">
                                  <tr>
                                    <td rowspan="3" class="profile-img ">
                                        <img src="/할배.jpeg">
                                    </td>
                                    <td class="profile-category">이름 : </td>
                                    <td class="profile-info">{{ patient.name }}</td>
                                    <td class="profile-category">호실 : </td>
                                    <td class="profile-info">{{ patient.room_number }} 호</td>
                                  </tr>
                                  <tr>
                                    <td class="profile-category">성별 : </td>
                                    <td class="profile-info">{{ patient.gender }}</td>
                                    <td class="profile-category">E-Mail : </td>
                                    <td class="profile-info">{{ patient.email }}</td>
                                  </tr>
                                  <tr>
                                    <td class="profile-category">나이 : </td>
                                    <td class="profile-info">{{ patient.age }} 세</td>
                                    <td class="profile-category">상태 : </td>
                                    <td class="profile-info">{{ patient.status }}</td>
                                  </tr>
                    </table>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="fa-solid fa-heart-pulse"></i>
                        <span class="text">심박수</span>
                        <span class="number">50,120</span>
                    </div>
                    <div class="box box2">
                        <i class="fa-solid fa-temperature-three-quarters"></i>
                        <span class="text">체온</span>
                        <span class="number">20,120</span>
                    </div>
                    <div class="box box3">
                        <i class="fa-solid fa-wheelchair"></i>
                        <span class="text">이동 거리</span>
                        <span class="number">10,120</span>
                    </div>
                    <div class="box box4">
                        <i class="fa-solid fa-head-side-cough"></i>
                        <span class="text">호흡 수치</span>
                        <span class="number">10,120</span>
                    </div>
                    <div class="box box5">
                        <i class="fa-solid fa-lungs"></i>
                        <span class="text">산소포화도</span>
                        <span class="number">10,120</span>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </section>

    <script src="/script.js"></script>
</body>
</html>