<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/6edffaec60.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <title>환자 정보 -헬스케어</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <span class="logo_name">HealthCare</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="../">
                    <i class="fa-solid fa-house"></i>
                    <span class="link-name">홈</span>
                </a></li>
                <li><a href="/patient">
                    <i class="fa-solid fa-table-list"></i>
                    <span class="link-name">환자 목록</span>
                </a></li>
                <li><a href="/chart">
                    <i class="fa-solid fa-chart-pie"></i>
                    <span class="link-name">통계</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-share"></i>
                    <span class="link-name">공유</span>
                </a></li>
            </ul>
            
            {% if user and user.id %}
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span class="link-name">로그아웃</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="fa-solid fa-moon"></i>
                    <span class="link-name">다크 모드</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>

            {% else %}
            <ul class="logout-mode">
                <li><a href="/login">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span class="link-name">로그인</span>
                </a></li>
                <li class="mode">
                    <a href="#">
                        <i class="fa-solid fa-moon"></i>
                    <span class="link-name">다크 모드</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </ul>
            {% endif %}
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i class="fa-solid fa-list-ul sidebar-toggle"></i>
            {% if user and user.id %}
            <div class="profile-box">
                <i class="fa-solid fa-user-doctor"></i>
                <span class="profile-name">안녕하세요 {{ user.name }} 선생님!</span>
            </div>
            {% else %}
            <div class="profile-box">
                <i class="fa-solid fa-circle-user"></i>
                <span class="profile-name"> 로그인 하시겠어요? </span>
            </div>
            {% endif %}
        </div>
            <!--<img src="images/profile.jpg" alt="">-->
        </div>
        
        <div class="dash-content">
            <div class="overview">
                <div class="profile">
                        <table class="profile-table">
                                  <tr>
                                    <td rowspan="3" class="profile-img ">
                                        <img src="/할배.jpeg">
                                    </td>
                                    <td class="profile-category">이름 : </td>
                                    <td class="profile-info">{{ patient.name }}</td>
                                    <td class="profile-category">호실 : </td>
                                    <td class="profile-info">{{ patient.room_number }} 호</td>
                                  </tr>
                                  <tr>
                                    <td class="profile-category">성별 : </td>
                                    <td class="profile-info">{{ patient.gender }}</td>
                                    <td class="profile-category">E-Mail : </td>
                                    <td class="profile-info">{{ patient.email }}</td>
                                  </tr>
                                  <tr>
                                    <td class="profile-category">나이 : </td>
                                    <td class="profile-info">{{ patient.age }} 세</td>
                                    <td class="profile-category">상태 : </td>
                                    <td class="profile-info">{{ patient.status }}</td>
                                  </tr>
                    </table>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="fa-solid fa-heart-pulse"></i>
                        <span class="text">심박수</span>
                        <span class="number">{{biometrics.heart_rate}} <span class="unit">bpm</span></span>
                    </div>
                    <div class="box box2">
                        <i class="fa-solid fa-temperature-three-quarters"></i>
                        <span class="text">체온</span>
                        <span class="number">{{biometrics.temperature}} <span class="unit">℃</span> </span>
                    </div>
                    <div class="box box3">
                        <i class="fa-solid fa-wheelchair"></i>
                        <span class="text">일일 이동 거리</span>
                        <span class="number">{{biometrics.distance_travelled}} <span class="unit">km</span> </span>
                    </div>
                    <div class="box box4">
                        <i class="fa-solid fa-head-side-cough"></i>
                        <span class="text">호흡 수치</span>
                        <span class="number">{{biometrics.respiration_rate}} <span class="unit">rpm</span> </span>
                    </div>
                    <div class="box box5">
                        <i class="fa-solid fa-lungs"></i>
                        <span class="text">산소포화도</span>
                        <span class="number">{{biometrics.oxygen_saturation}} <span class="unit">%</span> </span>
                    </div>
                </div>
                <div class="profile-charts">
                    <div class="chart chart1">
                        <canvas id="chart1" style="position: relative; height:35vh; width:30vw" ></canvas>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <script src="/script.js"></script>
    <script>
        const obj = JSON.parse(`{{ chart_data | dump | safe }}`);
        const heartRates = obj.map(obj => obj.heart_rate);
        const temperatures = obj.map(obj => obj.temperature);
        const distanceTravelled = obj.map(obj => obj.distance_travelled);
        const respirationRate = obj.map(obj => obj.respiration_rate);
        const oxygenSaturation = obj.map(obj => obj.oxygen_saturation);
        
        let heartRates_ctx = document.getElementById('chart1').getContext('2d');
        let temperature_ctx = document.getElementById('chart1').getContext('2d');
        let distanceTravelled_ctx = document.getElementById('chart1').getContext('2d');
        let respirationRate_ctx = document.getElementById('chart1').getContext('2d');
        let oxygenSaturation_ctx = document.getElementById('chart1').getContext('2d');

        let temperature_chart;
        let distance_travelled_chart;
        let respiration_rate_chart;
        let oxygen_saturation_chart;

        let heart_rate_chart = new Chart(heartRates_ctx, {
            type: 'line',
            data: {
                labels: Array.from(Array(heartRates.length).keys()),
                datasets: [{
                    label: '심박수',
                    fill: true,
                    data: heartRates,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        }
        );

        function drawTemperatureChart() {
            let chartStatus = Chart.getChart('chart1');
            if (chartStatus !== undefined) {
                chartStatus.destroy();
            }
            temperature_chart = new Chart(temperature_ctx, {
                type: 'line',
                data: {
                    labels: Array.from(Array(temperatures.length).keys()),
                    datasets: [{
                        label: '체온',
                        fill: true,
                        data: temperatures,
                        backgroundColor: 'rgba(255, 165, 55, 0.2)',
                        borderColor: 'rgba(255, 165, 55, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            min: 35,
                            max: 40,
                        }
                    }
                }
            }
        );
    }

    function drawHeartRateChart() {
        let chartStatus = Chart.getChart('chart1');
        if (chartStatus !== undefined) {
            chartStatus.destroy();
        }
        let heart_rate_chart = new Chart(heartRates_ctx, {
            type: 'line',
            data: {
                labels: Array.from(Array(heartRates.length).keys()),
                datasets: [{
                    label: '심박수',
                    fill: true,
                    data: heartRates,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        }
        );
    }

    function drawDistanceTravelled() {
            let chartStatus = Chart.getChart('chart1');
            if (chartStatus !== undefined) {
                chartStatus.destroy();
            }
            distance_travelled_chart = new Chart(distanceTravelled_ctx, {
                type: 'line',
                data: {
                    labels: Array.from(Array(distanceTravelled.length).keys()),
                    datasets: [{
                        label: '일일 이동 거리',
                        fill: true,
                        data: distanceTravelled,
                        backgroundColor: 'rgba(255, 55, 202, 0.2)',
                        borderColor: 'rgba(255, 55, 202, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            }
        );
    }

    function drawRespirationRate() {
            let chartStatus = Chart.getChart('chart1');
            if (chartStatus !== undefined) {
                chartStatus.destroy();
            }
            distance_travelled_chart = new Chart(respirationRate_ctx, {
                type: 'line',
                data: {
                    labels: Array.from(Array(respirationRate.length).keys()),
                    datasets: [{
                        label: '일일 호흡 수치',
                        fill: true,
                        data: respirationRate,
                        backgroundColor: 'rgba(55, 175, 255, 0.2)',
                        borderColor: 'rgba(55, 175, 255, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            }
        );
    }

    function drawOxygenSaturation() {
            let chartStatus = Chart.getChart('chart1');
            if (chartStatus !== undefined) {
                chartStatus.destroy();
            }
            distance_travelled_chart = new Chart(oxygenSaturation_ctx, {
                type: 'line',
                data: {
                    labels: Array.from(Array(oxygenSaturation.length).keys()),
                    datasets: [{
                        label: '산소포화도',
                        fill: true,
                        data: oxygenSaturation,
                        backgroundColor: 'rgba(55, 255, 178, 0.2)',
                        borderColor: 'rgba(55, 255, 178, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            min: 80,
                            max: 100,
                        }
                    }
                }
            }
        );
    }

    document.querySelector('.box1').addEventListener('click', () => {
        drawHeartRateChart();
    });

    document.querySelector('.box2').addEventListener('click', () => {
        drawTemperatureChart();
    });

    document.querySelector('.box3').addEventListener('click', () => {
        drawDistanceTravelled();
    });

    document.querySelector('.box4').addEventListener('click', () => {
        drawRespirationRate();
    });

    document.querySelector('.box5').addEventListener('click', () => {
        drawOxygenSaturation();
    });
    </script>


</body>
</html>