<head>
  <title>관계자 등록 -헬스케어</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/login.css">
  <script src="https://kit.fontawesome.com/6edffaec60.js" crossorigin="anonymous"></script>
</head>


<div class="wrapper fadeInDown">
  <div id="formContent">
    
    <!-- Tabs Titles -->
    <a href="login"><h2 class="inactive underlineHover">로그인</h2></a>
    <h2 class="active">관계자 등록</h2>
    <!-- Icon -->
    <div class="Icon">
      <i class="fa-solid fa-user-doctor"></i>
    </div>

    <!-- Login Form -->
    <form id="join-form" action="/auth/register" method="post">
      <div class="input-group">
        <input type="text" id="login" class="fadeIn first" name="email" placeholder="E-mail">
      </div>
      <div class="input-group">
        <input type="text" id="name" class="fadeIn second" name="name" placeholder="Name">
      </div>
      <div class="input-group">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
      </div>
      <button id="join-btn" type="submit" class="btn fadeIn fourth">관계자 등록</button>
    </form>

    <!-- Login -->
    <div id="formFooter">
      <a class="underlineHover" href="login">관리자이신가요?</a>
    </div>
  </div>
</div>

{% block script %}
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        alert('이미 존재하는 이메일입니다.');
      }
    };
  </script>
{% endblock %}