<head>
  <link rel="stylesheet" href="/login.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="inactive underlineHover">Sign In </h2>
    <h2 class="active">Sign Up </h2>

    <!-- Icon -->
    <div class="Icon">
      <i class="uil uil-user-md"></i>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="E-mail">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Name">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Login -->
    <div id="formFooter">
      <a class="underlineHover" href="login">Already have Account?</a>
    </div>

  </div>
</div>