@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #526ebc;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --title-icon-color: #fff;
    --patient-list-color: lightblue;
    --patient-category-color: lightblue;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}

.activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0; /* 경계 간격 제거 */
}

.patient-list td {
    padding: 8px;
    text-align: center;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color); /* 각 셀 위쪽에 가로줄 추가 */
    padding: 10px;
}

.patient-list td:first-child {
    border-left: 1px solid var(--text-color); /* 첫 번째 열에 왼쪽 세로 경계선 추가 */
}
.patient-list td:last-child {
    border-right: 1px solid var(--text-color); /* 첫 번째 열에 왼쪽 세로 경계선 추가 */
}

.patient-list th.category {
    border-top: 1px solid var(--text-color); /* 카테고리 열의 맨 위 가로줄 */
    border-bottom: 1px solid var(--text-color); /* 카테고리 열의 맨 아래 가로줄 */
    border-left: 1px solid var(--text-color); /* 카테고리 열의 왼쪽 세로줄 */
    padding: 8px;
    text-align: center;
    color: var(--text-color);
    background-color: var(--patient-category-color); /* 카테고리 열의 배경색 */
}

.patient-list th.category:last-child {
    border-right: 1px solid var(--text-color);
}

.patient-list tr:hover {
    background-color: var(--patient-list-color);
}

td a {
    display: block; /* 링크를 블록 수준 요소로 만들어 전체 열을 차지하도록 함 */
    text-decoration: none; /* 링크 밑줄 제거 */
    color: inherit; /* 기본 링크 색상 상속 */
    width: 100%; /* 열 전체 너비를 사용 */
    height: 100%; /* 열 전체 높이를 사용 */
}

/* hover 시의 스타일 */
.data-list:hover {
    background-color: lightgray; /* hover 시 배경색 변경 */
    color: blue; /* hover 시 글자색 변경 */
}

body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
    --patient-list-color: #3A3B3C;
    --patient-category-color: #3A3B3C;
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    border-radius: 12px;
    transition: all 0.3s ease;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .profile-box{
    display: flex;
    margin  : 0 50px;
    padding: 4px 14px;
    align-items: center;
    cursor: pointer;
    color: var(--text-color);
    border: #707070 1px solid;
    border-radius: 10px;
    gap: 0.5rem;
}

.dashboard .top .profile-box .profile-name{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.dashboard .top .profile-box i{
    font-size: 24px;
}
.dashboard .top .profile-box:hover{
    color: var(--primary-color);
}

.top img{
    width: 40px;
    border-radius: 50%;
}

.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 40px 0 20px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 6px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 60px;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items : center;
    border-radius: 12px;
    width: calc(100% / 5 - 30px);
    height: 200px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    box-shadow: #cfd4d8 0px 0px 5px 0px;
}

.profile {
    border-radius: 10px;
    margin: 20px 0 20px 0;
    padding: 0px 60px;
    color: var(--text-color);
}

.profile .profile-table {
    width: 100%;
    border-radius: 10px;
}

.profile .profile-category {
    width: 15%;
    font-weight: bold;
}

.profile .profile-info {
    width: 15%;
}

.profile .profile-img {
    width: 15%;
    position: relative;
}

.profile .profile-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20%;
    transition: transform 0.3s ease;
}

.profile .profile-img:hover::after { /* 이미지 위에 레이어를 생성하기 위해 ::after 사용 */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    pointer-events: none; /* 이벤트가 레이어를 통과할 수 있도록 */
}

.boxes .box i{
    font-size: 50px;
    background-color: var(--panel-color);
}

.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
}

.boxes .box .number{
    font-size: 30px;
    font-weight: 500;
}

.boxes .box1{
    color: rgb(255, 55, 55)
}
.boxes .box2{
    color: rgb(255, 165, 55)
}
.boxes .box3{
    color: rgb(255, 55, 202)
}
.boxes .box4{
    color: rgb(55, 175, 255)
}
.boxes .box5{
    color: rgb(55, 255, 178)
}

.boxes .box1:hover {
    border-radius: 5px;
    box-shadow: 0 0 5px #f40303,
                0 0 25px #f40303,
                0 0 50px #f40303
}
.boxes .box2:hover {
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(255, 165, 55),
                0 0 25px rgb(255, 165, 55),
                0 0 50px rgb(255, 165, 55)
}
.boxes .box3:hover {
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(255, 55, 202),
                0 0 25px rgb(255, 55, 202),
                0 0 50px rgb(255, 55, 202)
}
.boxes .box4:hover {
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(55, 175, 255),
                0 0 25px rgb(55, 175, 255),
                0 0 50px rgb(55, 175, 255)
}

.boxes .box5:hover {
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(55, 255, 178),
                0 0 25px rgb(55, 255, 178),
                0 0 50px rgb(55, 255, 178)
}

.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activity-data{
    display: flex;
}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}

/* Chart CSS */
.chart-container{
    width: 100%;
    height: 630px;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.chart-container .first-chart{
    width: 40%;
    height: 45%;
    display: flex;
    justify-content: center;
    background-color: var(--panel-color);
    border-radius: 12px;
    padding: 20px;
    box-shadow: #cfd4d8 0px 0px 5px 0px;
}

.chart-container .second-chart{
    width: 58%;
    height: 45%;
    display: flex;
    justify-content: center;
    background-color: var(--panel-color);
    border-radius: 12px;
    padding: 20px;
    box-shadow: #cfd4d8 0px 0px 5px 0px;
}

.chart-container .third-chart{
    width: 58%;
    height: 45%;
    display: flex;
    justify-content: center;
    background-color: var(--panel-color);
    border-radius: 12px;
    padding: 20px;
    box-shadow: #cfd4d8 0px 0px 5px 0px;
}

.chart-container .fourth-chart{
    width: 40%;
    height: 45%;
    display: flex;
    justify-content: center;
    background-color: var(--panel-color);
    border-radius: 12px;
    padding: 20px;
    box-shadow: #cfd4d8 0px 0px 5px 0px;
}

.profile-charts {
    width: 90%;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: #cfd4d8 0px 0px 5px 0px;
    border-radius: 10px;
}

.profile-charts .chart1 {
    padding: 20px;
}

.unit {
    font-size: 0.6em; /* 작은 글꼴 크기 지정 */
}